body{

background color: #F5F5F5;

color: #9E9E9E;

font-family: arial;

}

a {

color: hotpink;

text-decoration: none;

}

table{
  border: 1px solid #F8BBD0;
  padding: 10px;
  margin: 0 auto;
  background-color: #F8BBD0;
}
  
